.container-centro {
  padding-top: 80px; /* Ajusta este valor según la altura de tu Navbar */
  padding-left: 20px;
  padding-right: 20px;
}



.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.imagen {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen:hover {
  transform: scale(1.05); /* agranda un poco la imagen */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* sombra más grande para dar efecto de elevación */
}